<a href="https://colab.research.google.com/github/rladphone/AI/blob/main/AI_Class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name = input()
age = int(input())

홍길동
23

In [ ]:
print(('이름: {}, 나이: {}').format(name,age))

이름: 홍길동, 나이: 23

In [ ]:
for i in range(1,10):
  print(("-----{}단-----").format(i))
  for j in range(1,10):
    print(('{}X{}={}').format(i,j,i*j))

In [ ]:
exam = [90,50,41,60,40,80,23]

In [ ]:
for i in exam:
  if i >= 90:
    print("A")
  elif i >= 80 and i <90:
    print("B")
  elif i >= 70 and i <80:
    print('C')
  elif i >= 60 and i <70:
    print("D")
  else:
    print("F")

In [ ]:
j = int(input())
if j >= 10000:
  print("구매가능")
else:
  print("구매불가능")

822200
구매가능

In [ ]:
class_1 = input()
name_1 = input()
age_1 = input()
tall = int(input())

소프트웨어
김예주
23
160

In [ ]:
print(('저는 {}학과이고 이름은 {}(이)고 저의 나이는 {}이고 저의 키는 {}입니다.').format(class_1,name_1,age_1,tall))

저는 소프트웨어학과이고 이름은 김예주(이)고 저의 나이는 23이고 저의 키는 160입니다.

In [ ]:
grades = [85,90,92,78,80,95]
len(grades)

6

In [ ]:
for i in range(len(grades)):
  sum = 0
  sum = sum + grades[i]
  aver = sum/len(grades)

if aver>85:
  print("합격입니다.")
else:
  print("불합격입니다.")

불합격입니다.

In [ ]:
sum = 0
count = 0

for grade in grades:
  sum = sum + grade
  count = count + 1

aver = sum/ count

if aver > 85:
  print('축하합니다. 시험에 합격하셨습니다.')

축하합니다. 시험에 합격하셨습니다.